.AddBoard {
  /* display: flex; */
}

.add-board-overlay {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(1, 22, 39, 0.75);
}

.add-board-modal {
  width: 300px;
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: #fdfffc;
  border-radius: 0.25rem;
  outline: none;
}
