.boards-list {
  display: flex;
}

.board-link {
  text-decoration: none;
}

.boards-list-item {
  width: 20%;
  list-style: none;
}

.board-tile {
  height: 4rem;
  padding: 0.5rem;
  background-color: rgb(4, 87, 154);
  border-radius: 0.25rem;
}

.board-tile-title {
  color: #fff;
  font-weight: 800;
  text-align: left;
}
