* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fdfffc;
  color: #1b1d1e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  display: inline-block;
  color: #272727;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #0682e6;
  border-color: #0682e6;
}

.btn-success {
  color: #fff;
  background-color: #2ec4b6;
  border-color: #2ec4b6;
}

.input {
  font-size: 1rem;
  line-height: 1.5;
  /* height: calc(1.5em + 0.75rem + 2px); */
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.375rem 0.75rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ceceed;
  border-radius: 0.25rem;
}
